{% load static %}
{%include 'store/header_with_cart.html'%}


<link rel="stylesheet" href="{% static 'product_page.css' %}">
    </header>
    <h1>All Products</h1>
    <div class="product-grid">
        {% for product in products %}
    <div class="product-item">
        <a href="{% url 'store:products-detail' pk=product.id %}">
            {% with product.images.all|first as first_image %}
                {% if first_image %}
                    <img src="{{ first_image.image.url }}" alt="{{ product.title }}">
                {% endif %}
            {% endwith %}
            <h3>{{ product.title }}</h3>
            </a>
            <p class="price">From ${{ product.unit_price }} USD</p>
            <!-- Other product details and actions -->
        </div>
    {% empty %}
        <p>No products available.</p>
    {% endfor %}
    
    </div>



    <script src="{% static 'CartFunctions.js' %}"></script>
    <script src="{% static 'CartVisual.js' %}"></script>
</body>
</html>




