{% load static %}
{%include 'store/header_with_cart.html'%}

    <main class="flex flex-col items-center px-4 sm:px-8 my-8">
        <div class="flex flex-col sm:flex-row justify-between items-start bg-white p-4 sm:p-6 rounded-lg shadow-lg w-full max-w-4xl">
            <div class="w-full sm:w-1/2 p-4">
                <img id="primary-image" src="{{ product.images.first.image.url }}" alt="{{ product.title }}" class="w-full h-auto object-cover rounded">
                <div class="flex justify-center mt-4">
                    <!-- Thumbnails -->
                    {% for image in product.images.all %}
                        <img onclick="updatePrimaryImage(this)" src="{{ image.image.url }}" alt="Thumbnail for {{ product.title }}" class="w-16 h-16 object-cover rounded-full m-1 cursor-pointer hover:opacity-75">
                    {% endfor %}
                </div>
            </div>
            <div class="w-full sm:w-1/2 p-4">
                <div>
                    <small class="uppercase text-gray-600 text-xs">{{ product.brand }}</small>
                    <h1 class="text-2xl font-bold my-2">{{ product.title }}</h1>
                    <span class="text-xl text-gray-900">{{ product.unit_price }}</span>
                </div>
                <div class="mt-4">
                    <div class="flex items-center mb-4">
                        <button type="button" onclick="changeQuantity(-1)" class="text-lg rounded-l bg-gray-200 px-4 py-2 hover:bg-gray-300">-</button>
                        <input type="text" value="1" id="quantity-input" class="text-center bg-white px-4 py-2 w-16">
                        <button type="button" onclick="changeQuantity(1)" class="text-lg rounded-r bg-gray-200 px-4 py-2 hover:bg-gray-300">+</button>
                    </div>
                    <button class="w-full bg-purple-700 text-white px-4 py-2 rounded hover:bg-purple-800" type="button" onclick="addToCart('{{ product.id }}', document.getElementById('quantity-input').value)">Add to Cart</button>
                </div>
                <div class="product-description mt-4">
                    <p class="text-gray-700">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </main>
    


    <script src="{% static 'CartFunctions.js' %}"></script>
    <script src="{% static 'CartVisual.js' %}"></script>

</body>
</html>
