{% load static %}  <!-- This line should be at the top of your template file -->


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include meta tags, title, and CSS link -->
</head>
<body>
    <form id="signInForm">
        <input type="text" id="username" placeholder="Username" required>
        <input type="password" id="password" placeholder="Password" required>
        <button type="submit">Sign In</button>
    </form>
    <script src="{% static 'core/auth.js' %}"></script>
</body>
</html>
